@import java.net.URL
@(title: String)(implicit webJarsUtil: org.webjars.play.WebJarsUtil, messages: Messages, request: Request[AnyContent])
<meta name="description" content="@messages("site.desc")" />
<meta name="author" content="@messages("project.copyright")" />
<meta name="keywords" content="dashboard, scaffold, scala, playframework, twirl, scss, scalajs" />

@* Open Graph metadata for link previews *@
<meta property="og:title" content="@title" />
<meta property="og:description" content="@messages("site.desc")" />
<meta property="og:site_name" content="@messages("site.title")" />
<meta property="og:type" content="website" />
@* TODO solve this properly *@
<meta property="og:url" content="@{new URL(if (request.secure) "https" else "http", request.domain, if (request.host.split(':').length == 2) request.host.split(':').last.toInt else -1, request.uri).toString}" />
<meta property="og:locale" content="en_GB" />
<meta property="og:image" content="@routes.Assets.versioned("images/site_preview.png")" />

@* Twitter card metadata for link previews
 * Most values have open-graph fallbacks, so only overrides or unique properties should be defined here
*@
<meta name="twitter:card" content="summary_large_image" />
