
.table-container {
	@extend .table-responsive;
	@extend .position-relative;
	@extend .shadow;
	min-height: 40px;
}

@media
only screen and (max-width: 1199.98px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr {
		display: block;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	tr { border: 1px solid #ccc; }

	td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
	}

	td:before {
		/* Now like a table header */
		position: relative;
		/* Top/left values mimic padding */
		/*top: 6px;*/
		left: 6px;
		width: 45%;
		height: 100%;
		min-width: 165px;
		padding-right: 8px;
		margin-right: 16px;
		border-right: 1px solid #dee2e6;
	}

	/*
	Label the data
	*/
	td:before {
		content: attr(data-label);
		font-weight: bold;
		display: inline-block;
	}
}

//TODO table :active styles, hover on columns? accent styles?
@media (prefers-color-scheme: dark) {
	table {
		color: $white !important;
		background-color: $dark !important;
	}

	th, td {
		//border-color: #454d55;
		border-color: lighten($dark, 7.5%) !important;
	}

	tbody tr:nth-of-type(2n+1) {
		background-color: rgba($white, .05);
	}

	tbody tr:hover {
		background-color: rgba($white, .075);
	}
}

@media (prefers-color-scheme: light) {
	table {
		color: $gray-900 !important;
		background-color: #fdfdfe !important;
	}

	th, td {
		border-color: #fbfcfc !important;
	}

	tbody tr:nth-of-type(2n+1) {
		background-color: rgba($black, .05);
	}

	tbody tr:hover {
		background-color: rgba($black, .075);
	}
}

.header, .ascending, .descending {
	cursor: pointer;
}

// ascending values move down the page, so the sort icon indicates downwards while values ascend
.active.ascending .indicator-sort-down {
	display: block;
	opacity: 1
}

.active.descending .indicator-sort-down {
	display: none;
	opacity: 0.25
}

.active.ascending .indicator-sort-up {
	display: none;
}

.active.descending .indicator-sort-up {
	display: block;
}

.indicator-sort-down {
	opacity: 0.25
}

.indicator-sort-up {
	display: none;
}
