@(teamMember: TeamMember)
<article id="@teamMember.id" class="team-member">
	<div class="team-member-image">
		<img alt="@teamMember.name" src="@teamMember.imageURL" />
	</div>
	<div class="team-member-content">
		<div class="team-member-body">
			<h1>@teamMember.name</h1>
			<p class="team-member-subtitle">@teamMember.job</p>
			<p>@teamMember.desc</p>
		</div>
		<div class="team-member-footer">
			<ul>
			@for(link: Link <- teamMember.links: List[Link]) {
				<li>
					@components.bootstrap_icon(link.icon)
					<a href="@link.url" target="_blank" rel="noopener">@link.text</a>
				</li>
			}
			</ul>
		</div>
	</div>
</article>
