/*
 * Fixed header padding
*/

html {
	scroll-padding-top: 140px;
}

main {
	padding-top: 136px;
}

@media (min-width: 768px) {
	html {
		scroll-padding-top: 100px;
	}

	main {
		padding-top: 96px;
	}

	.navbar-brand h1 {
		@include font-size($h1-font-size);
	}

	.navbar-brand {
		//TODO forcing the width on this element breaks flex behaviours requiring arbitrary pixel sizes here. rework the flex settings
		min-width: 480px !important;
		width: 50% !important;
	}
}

/*
 * Navbar
 */

.navbar {
	@extend .flex-md-nowrap;
	@extend .navbar-expand-md;
	@extend .flex-column;
	@extend .flex-md-row;
	@extend .navbar-dark;
	@extend .fixed-top;
	@extend .bg-dark;
	@extend .p-0;
	@extend .shadow;
	@extend .align-items-stretch;
}

.navbar-brand {
	padding-top: .75rem;
	padding-bottom: .75rem;
	font-size: 1rem;
	background-color: rgba(0, 0, 0, .25);
	box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
	@extend .mr-0;
	@extend .mr-md-3;
	@extend .px-3;
	@extend .w-100;
}

.navbar-brand h1 {
	@extend .my-0;
	@extend .h2;
	@extend .svgtext;
}

.navbar .form-control {
	padding: .75rem 1rem;
	border-width: 0;
	border-radius: 0;
}

.form-control-dark {
	color: #fff;
	background-color: rgba(255, 255, 255, .1);
	border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
	border-color: transparent;
	box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}
