@import 'lib/bootstrap/scss/bootstrap';
@import 'colours';

article.team-member {
	@extend .card;
	@extend .my-4;
	background-color: $theme-colour;
	@extend .text-dark;
	@extend .flex-row;
}

article.team-member > div:nth-child(1) {
	width: calc(100%/3);
}

article.team-member > div:nth-child(2) {
	width: calc(100% - (100%/3));
}
