@import "lib/bootstrap/scss/bootstrap";
@import "components/shade";
@import "components/graphs/figure";
@import "components/graphs/table";
@import "components/navigation/acknowledgements";
@import "components/navigation/nav_top";
@import "index";
@import "team_member";

.top-0 {
	top: 0;
}

body {
	font-size: .875rem;
	@extend .vh-100;
	@extend .d-flex;
	@extend .flex-column;
	@extend .justify-content-between;
}

main {
	@extend .bg-light;
	@extend .text-dark;
	@extend .px-0;
	@extend .flex-fill;
}

//TODO better integrate with bootstrap should be able to retrieve the theme colors, links are also shaded slightly differently
@media (prefers-color-scheme: dark) {
	main, footer, .sidebar, .sidebar .nav-link {
		color: $light !important;
		background-color: $dark !important;
	}

	hr {
		border-top-color: rgba($white, 0.1);
	}
}

@media (prefers-color-scheme: light) {
	main, footer, .sidebar, .sidebar .nav-link {
		color: $dark !important;
		background-color: $light !important;
	}
}

/*
 * Utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.active {
	background-color: rgba(0, 0, 0, 0.03);
}

.border-right-2 {
	border-right-width: 2px;
}

.bi-16 {
	height: 16px;
	width: 16px;
}

.bi-24 {
	height: 24px;
	width: 24px;
}
